@media (min-width: 980px)
{   
    /* Текст */
    header a, bottom a, bottom .copyright
    {
        color: #edeef0;
        font-size: 1.2em;
    }

    a, h1, h2, h3, h4, h5, h6
    {
        color: #715F8C;
        text-decoration: none;
        font-weight: bold;
    }

    .page_name
    {
        margin-left: 3em;
    }

    /* Общее */
    html, body
    {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        user-select: none;

    }

    body
    {
        background: #edeef0;
        color: black;
        font-family: "Trebuchet MS", sans-serif;
    }

    div a
    {
        width: fit-content;
        width: -moz-fit-content;
        height: fit-content;
        height: -moz-fit-content;
        display: block;
        cursor: pointer;
    }

    /* Шапка */
    header
    {
        min-height: 6em;
        display: flex;
        align-items: center;
        color: #edeef0;
        background-color: #AE93D9;
        margin-bottom: 1em;
        transition: 1s;
    }

    .logo
    {
        height: 44.5px;
        width: 245.5px;
        background-image: url(../img/logo.png);
        background-size: 100%;
    }
    
    .logo > a
    {
        width: 100%;
        height: 100%;
    }

    .logo, .header_menu, .sighup
    {
        margin-left: auto;
        margin-right: auto;
    }

    .logo, .header_menu, .header_menu > ul > li, .sighup
    {
        display: inline-block;
    }

    .header_menu > ul, .bottom_menu > ul
    {
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;
    }

    .header_menu li
    {
        margin: 0 4em 0 4em;
    }

    .sighup
    {
        margin-right: auto;
    }

    /* Список лотов */
    main
    {
        min-height: calc(100vh - 318px);
        margin-bottom: 1em;
    }

    .lot_list
    {
        display: flex;
        flex-wrap: wrap;
    }

    .lot
    {
        width: 30em;
        padding: 1em;
        background-color: white;
        border: solid 1px #e4e6e9;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5em;
    }

    .lot_link
    {
        float: left;
    }

    .lot_author
    {
        float: right;
    }

    .lot_img
    {
        width: inherit;
        margin-bottom: 1em;
    }

    .lot_desc, .lot_cost
    {
        display: flex;
        margin-bottom: 1em;
        margin-right: auto;
        margin-left: auto;
    }
    
    .lot_link, .lot_author
    {
        display: inline-flex;
        margin-bottom: 1em;
        height: fit-content;
        height: -moz-fit-content;
        width: auto;
    }

    /* Страницы */
    .pages
    {
        display: flex;
        margin-bottom: 3em;
        justify-content: center;
    }
    
    .pages > a
    {
        margin-left: 3em;
    }
    
    .pages > a:first-child
    {
        margin-left: 0;
        text-decoration: underline;
    }

    /* Подвал */
    .bottom_wrapper
    {
        background-color: #AE93D9;
    }

    .bottom_menu
    {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .bottom_menu > ul
    {
        display: flex;
    }

    .bottom_menu li
    {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .line
    {
        width: 80vw;
        margin-left: 10vw;
        height: 1px;
        margin-right: 10vw;
        border-bottom: 1px solid #edeef0;
    }

    .info
    {
        display: flex;
        margin-left: 10vw;
        margin-top: 2em;
        padding-bottom: 2em;
        margin-right: 10vw;
    }

    .location, .contact, .copyright, .groups
    {
        margin-left: auto;
        display: flex;
        margin-right: auto;
    }

    .group_logo
    {
        margin-left: 1em;
        display: inline-block;
    }
    
    .group_logo:first-child
    {
        margin-left: 0;
    }
}